<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{item.type}}">
  <ion-content class="padding">
    <img ng-src="{{item.image}}" style="width: 150px; height: 150px">
    <div class="row">
      <div class="col">
        <div class="row">
          <h3>Color</h4>
        </div>
        <div class="row">
          {{item.color}}
        </div>
      </div>
      <div class="col">
        <div class="row">
          <h3>Size</h4>
        </div>
        <div class="row">
          {{item.size}}
        </div>
      </div>
    </div>
    <div class "row">
      <div class="col">
        {{item.description}}
      </div>
    </div>
  </ion-content>
</ion-view>
