<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Closet</div>
      <div class="item item-body">
        <div>
          You have 16 items in your closet
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Hamper</div>
      <div class="item item-body">
        <div>
          4 items in your hamper
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Current Look</div>
      <div class="item item-body">
        <div>
          Your look uses {{lookItems.length}} items
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
