<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Quick" icon-off="ion-speakerphone" icon-on="ion-speakerphone" href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <!-- Items Tab -->
  <ion-tab title="Closet" icon-off="ion-tshirt-outline" icon-on="ion-tshirt" href="#/tab/closet">
    <ion-nav-view name="tab-closet"></ion-nav-view>
  </ion-tab>

</ion-tabs>
